/* Estilos base Clase 1 */
body{margin:0;line-height:1.5;color:#111;font-family:system-ui,-apple-system,"Segoe UI",Roboto,Arial}
.visually-hidden{position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden}
